
.idea/
*.iml
/shelf/
/workspace.xml

# =====HTTP Client=====
/httpRequests/

# =====Datasources=====
/dataSources/
/dataSources.local.xml

# ===== Backend=====
/back-end/target/**
/back-end/src/main/resources/*.properties

# ===== Frontend=====
/front-end/node_modules/
/front-end/dist/
/front-end/.env

